@model IEnumerable<HomeworkMVC.Models.CartItem>

@{
    Layout = "_Layout";
}

<body>
    <main>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                         <td>@product.Name</td>
                         <td>@product.Price</td>
                         <td>@product.Quantity</td>
                         <td>@(product.Price * product.Quantity)</td>
                         <td>
                                <a class="btn btn-primary" href="@Url.Action("RemoveItem", "Cart", new { id = product.ProductId })">Delete</a>
                         </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</body>
</html>